:root{
    /* Шрифт */
    --main-font: 'Montserrat', sans-serif;
    /* Цвет текста*/
    --text-color: #ffffff;
    --accent-colour:  #1e1405;
    /* Цвет фона */
    --background-dark: #1e1405;
    --background-light: #ffffff;
}