<div class="container"><div class="cookie-theme">
    <button class="cookie-button dark">Світла тема</button>
    <button class="cookie-button light">Темна тема</button>
    </div>
    <h1 class="cookie-title">ПЕЧИВО З ПЕРЕДБАЧЕННЯМ</h1>
    <div class="cookie-item">
        <picture class="left-cookie">
        <source
        srcset="
          ./images/cookie.png   1x,
          ./images/cookie.png  2x
        "
        media="(min-width:767px)"
        type="image/webp" />
      <img src="./images/cookie.png " alt="Печево"
    /></picture>
        <picture class="middle-cookie">
        <source
        srcset="
          ./images/cookie.png   1x,
          ./images/cookie.png  2x
        "
        media="(min-width:767px)"
        type="image/webp" />
      <img src="./images/cookie.png " alt="Печево"
    /></picture>
        <picture class="right-cookie">
        <source
        srcset="
          ./images/cookie.png   1x,
          ./images/cookie.png  2x
        "
        media="(min-width:767px)"
        type="image/webp" />
      <img src="./images/cookie.png " alt="Печево"
    /></picture>
    </div>
    <h2 class="cookie-subtitle">Обери печиво і натисни на нього</h2></div>