.container {
  width: 1240px;
  background-image:url(..//..//images/Dark.jpg);
  background-size: contain;
  //-webkit-background-size: contain;
// -moz-background-size: contain;
 // -o-background-size: contain;
 // margin-left: auto;
  // margin-right: auto;
}
